@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 body {
  font-family: "Poppins", sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 7, 7);
}

*{
  margin: 0;
  padding: 0;
}

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header{
  display: flex;
  font-size: 2rem;
  justify-content: space-evenly;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  color: #ddd;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10rem;
}


.content {
  /* left: 10%; */
  left:5cqmax;
  width: 100%;
  height: 100%;
	position: relative;
  justify-content: space-between;
  margin-right: 0;
  font-size: 3.5rem;

}

.content h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
	color: #fff;
	position: absolute;
  margin-right: 0;

}

.content h2:nth-child(1) {
  /* align-self: center; */
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
	color: #e9f2f7;
	animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.content2 {
  left:5cqmax;
	width: 100%;
  height: 100%;
	position: relative;
  font-size: 3.5rem;
}

.content2 h2 {
	margin-top: 2rem;
  margin-bottom: 2rem;
	color: #fff;
	position: absolute;
	/* transform: translate(130%, -50%); */
}

.content2 h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #03a9f4;
}

.content2 h2:nth-child(2) {
	color: #d6eaf3;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 18rem;
  width: 12rem;
  margin: 0.5rem;
  padding: 1rem;
  transition: transform 0.25s ease-in-out;
}

.card:hover{
  transform: scale(1.20);
  z-index: 1;
  outline: 1px solid white;
}

.knowMore-btn{
  padding: 0.5rem;
  margin-top: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.125rem;
}

.knowMore-btn:hover{
  cursor: pointer;
}

.morePokemon{
  background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
  border-radius: 6px;
  border: 1px solid #c6c6c6;
  color: #444;
  font-weight: 600;
  padding: 1rem 1.5rem;
  width: 10rem;
  margin: 1rem;
  font-family: "Poppins", sans-serif;
}

.morePokemon:hover{
  cursor: pointer;
  background-color: #f17474;
  background-image: linear-gradient(315deg, #e95b5b 0%, #fded07 74%);
}

.pokemons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemonName{
  text-decoration: underline;
  font-weight: 600;
  margin: 0.5rem;
  text-transform: uppercase;
}

.rock {
  background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
.ghost {
  
  background-image: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}
.electric {
  
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}
.bug {
  
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
.poison {
  
  background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}
.normal {
  
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.fairy {
  
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}
.fire {
  
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.grass {
  
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.water {
  
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.ground{
  
  background-image: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
  
}

.rock-btn {
  background-image: linear-gradient(to top, #d37f67 0%, #f39751 100%);
}
.ghost-btn {
  
  background-image: linear-gradient(to top, #afafd4 0%, #92cff0 100%);
}
.electric-btn {
  
  background-image: linear-gradient(to right, #f7886a 0%, #f3d647 100%);
}
.bug-btn {
  
  background-image: linear-gradient(to top, #f5a53c 0%, #f5af4e 100%);
}
.poison-btn {
  
  background-image: linear-gradient(to top, #eb3e97 0%, #61a1fa 100%);
}
.normal-btn {
  
  background-image: linear-gradient(-225deg, #7fffd9 0%, #fa99e7 100%);
}
.fairy-btn {
  
  background-image: linear-gradient(to top, #f8484e 0%, #fc83d6 99%, #f537b9 100%);
}
.fire-btn {
  
  background-image: linear-gradient(120deg, #f8ca31 0%, #f56942 100%);
}
.grass-btn {
  
  background-image: linear-gradient(120deg, #c0f83e 0%, #43f15a 100%);
}
.water-btn {
  
  background-image: linear-gradient(120deg, #48e3ee 0%, #2f84fc 100%);
}
.ground-btn{
  
  background-image: linear-gradient(315deg, #8f2f12 0%, #f7912b 74%);
  
}

.card img{
  width: 10rem;
  height: 10rem;
}

.modal-container{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-1 .div-2 .div-3 .div-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.div-1 h3{
  text-decoration: underline;
  font-size: 1.5rem;
}
.modal{
  display: flex;
  width: auto;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.show-modal{
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 15rem;
  padding: 1rem;
}
.show-modal img{
  height: 10rem;
  width: 10rem;
}

aside{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.close-btn{
  align-self: flex-start;
  padding: 0.5rem;
  border-radius: 50%;
  margin: 0.5rem;
  background-color: whitesmoke;
}
.close-btn:hover{
  cursor: pointer;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Styles for the loader */
.loader {
  border: 4px solid #3498db;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  animation: spin 2s linear infinite; 
}

/* Keyframes for the loader spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px){
  .header{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: space-evenly;
    gap: 5rem;
    align-items: center;
    margin-bottom: 2rem;
    color: #ddd;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 10rem;
  }
  /* .header div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  } */
}

@media screen and (max-width:480px){
  /* .header{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  } */
  .content{
    font-size: 2.5rem;
    left:0cqmax;
	position: relative;
  justify-content: space-between;
  margin-right: 2rem;
  }
  .content2{
    align-items: center;
    font-size: 2.5rem;
      left:0cqmax;
      width: 100%;
      height: 100%;
      position: relative;
      margin-right: 2rem;
  }
  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card img{
    width: 8rem;
    height: 8rem;
  }
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    height: 17rem;
    width: 12rem;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.25s ease-in-out;
  }
  .card:hover{
    transform: scale(1.07);
  }
  .pokemons{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
  }
  .morePokemon{
    background-image: linear-gradient(315deg, #76daff 0%, #fcd000 74%);
    border-radius: 6px;
    border: 1px solid #c6c6c6;
    color: #444;
    font-weight: 550;
    padding: 0.8rem 1rem;
    width: 10rem;
    margin: 1rem;
    font-family: "Poppins", sans-serif;
  }
  .show-modal{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    height: auto;
    gap: 1rem;
    padding: 0.7rem;
  }
  .div-1 img{
    height: 6rem;
    width: 6rem;
  }
  .attacks{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .modal{
    display: flex;
    width: 13rem;
    align-items: center;
    margin: 1rem;
  }
  .div-1 h3{
    text-decoration: underline;
    font-size: 1rem;
  }
  .div-1{
    gap: 1rem;
  }
  aside{
    font-size: 0.9rem;
    gap: 0.5rem;
  }
  .close-btn{
    align-self: flex-start;
    padding: 0.2rem;
    border-radius: 60%;
    margin: 0.5rem;
    background-color: whitesmoke;
  }
  .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-bottom: 8rem;
    color: #ddd;
    width: 8rem;
    height: auto;
    position: relative;
  }
}

/* @media only screen and (max-width: 480){
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pokemons{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    justify-content: center;
  }
  .show-modal{
    align-items: center;
    gap: 1rem;
    height: 30rem;
    padding: 1rem;
  }
  .modal-container{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content .content2{
    font-size: 1rem;
  }
} */